{
  extends: "stylelint-config-standard",
  "plugins": [
    "stylelint-scss"
  ],
  rules: {
    "at-rule-no-unknown": [true, {"ignoreAtRules": ["mixin", "include", "content"]}],
    "length-zero-no-unit": true,
    "time-min-milliseconds": 1,
    "unit-no-unknown": true,
    "scss/media-feature-value-dollar-variable": "always",
    "scss/operator-no-unspaced": true
  }
}