@import "mixins";

.content-wrapper {
  margin-bottom: -160px;
  margin-left: 0;
  min-height: 100%;
  overflow-x: hidden;
  padding-bottom: 160px;
  transition: margin-left 0.2s;

  @include large-screens {
    transform: translateX(0);

    .frontend-grocer.show-left-sidedrawer & {
      transform: translateX($sidedrawer-width);
    }

    .frontend-grocer.show-right-sidedrawer & {
      transform: translateX(-$sidedrawer-width);
    }
  }
}
