.CategoryDetails {
  .category-name {
    margin-left: 15px;
    font-size: 3rem;
  }
}

.loading {
  text-align: center;
  font-size: 5rem;
  font-weight: lighter;
  margin-top: 30px;
  color: #999;
}
